name: Commit Lint

on:
  pull_request:
  push:

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - run: npm ci
      - name: Lint commits
        run: npx commitlint --from=HEAD~20 --to=HEAD
